*.iml
.gradle
/local.properties
/gradle.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Sensitive Credentials
SERVICE ACCOUNTS KEY/
*.json

# IDE and Build Artifacts
.idea/inspectionProfiles/
app/release/
gradle/gradle-daemon-jvm.properties

/POOJA PUROHIT ADMIN PORTAL/pooja-purohit-admin-portal-config.js